/*sets font*/
@font-face {
  font-family: 'Minecraft';
  src: url("minecraft.otf") format('opentype');
}


/*left, everything, and right. Basically handles entire page*/
.container{
  display: grid;
  grid-template-columns: 20% 60% 20%;
}


/*handles header and block grid*/
.everything{
  display: grid;
  grid-template-columns: 100%;
}


/*ad space*/
.left{
  overflow-wrap: break-word;
}
.right{
  overflow-wrap: break-word;
}


/*header*/
.header{  
  display: inline-flex;
}
.header > div{
  margin-right: 3%;
  font-family: Minecraft;
}


/*blocks*/
.blocksGrid {
  padding-top: 5%;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(200px, 1fr) );
}
.blocksGrid > div{
  height: 225px;
  image-rendering: pixelated;
    
}


/* Tooltip for blocks*/
.blocksGrid > div > .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(255, 255, 255, 0.493);
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: Minecraft;
  padding: 5px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when mouse is over the block */
.blocksGrid > div:hover .tooltiptext {
  visibility: visible;
}



/*handle spinboxes/number inputs*/
input[type="number"]
{
    font-size: 98%;
    font-family: Minecraft;
    border: transparent; 
}


/*makes it so alpha filter and bloccks displayed labels dont break into multiple rows*/
.alphaFilterLabel{
 flex-shrink: 0;
}
.blocksDisplayedLabel{
 flex-shrink: 0;
}




/*For Mobile*/
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }


}



/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}



/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}



/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}



/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}


/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}


/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}


/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}



/* ----------- Google Pixel ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}



/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}


/* ----------- Nexus 4 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 384px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 2) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}


/* ----------- Nexus 5 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 3) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}



/* ----------- Nexus 6 and 6P ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 592px) 
  and (-webkit-device-pixel-ratio: 4) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}



/* ----------- Windows Phone ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 480px) 
  and (device-height: 800px) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 150%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 145%;
    }

}


/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {


    /*makes header collapse and change font size*/
    .container{
      font-size: 125%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 120%;
    }

}


/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 125%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 120%;
    }


}



/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 125%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 120%;
    }


}



/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 125%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 120%;
    }


}


/* ----------- Galaxy Tab 2 ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 125%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 120%;
    }


}


/* ----------- Galaxy Tab S ----------- */

/* Portrait and Landscape */
@media 
  (min-device-width: 800px) 
  and (max-device-width: 1280px)
  and (-webkit-min-device-pixel-ratio: 2) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 125%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 120%;
    }


}



/* ----------- Nexus 7 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 601px) 
  and (device-height: 906px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 125%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 120%;
    }


}


/* ----------- Nexus 9 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2048px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 125%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 120%;
    }


}



/* ----------- Kindle Fire HD 7" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 800px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 125%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 120%;
    }


}


/* ----------- Kindle Fire HD 8.9" ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

    /*makes header collapse and change font size*/
    .container{
      font-size: 125%;
    }
    .header{  
      display: inline;
    }   
    input[type="number"]{
      font-size: 120%;
    }


}